body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.boardContainer {
  display: flex;
}

.board {
  display: grid;
  height: 635px;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  margin: auto;
  gap: 5px;
}

.playerBlackStats {
  display: flex;
  flex: 1;
}

.playerWhiteStats {
  display: flex;
  flex: 1;
}

.playerStats {
  width: 80%;
  height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.playerName {
  width: 100%;
  height: 30vh;
  text-align: center;
}

.playerName p {
  font-size: 1.5rem;
}

.playerTurn {
  width: 100%;
  height: 30vh;
  text-align: center;
}

.playerTurn p {
  font-size: 1.5rem;
}
