body {
  margin: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.boardContainer {
  display: flex;
}

.board {
  display: grid;
  height: 635px;
  grid-template-columns: repeat(8, 75px);
  grid-template-rows: repeat(8, 75px);
  margin: auto;
  gap: 5px;
}

.playerBlackStats {
  flex: 1;
}

.playerWhiteStats {
  flex: 1;
}
