.whitePiece {
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 50%;
  border: 0.1rem solid #000;
}

.blackPiece {
  width: 50%;
  height: 50%;
  background-color: #000;
  border-radius: 50%;
  border: 0.1rem solid #fff;
}
